/* 구글 폰트 import url */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gowun+Dodum&family=Orbit&family=Song+Myung&display=swap');

/* 헤더(상단 바) */
header {
    font-family: "Black Han Sans", sans-serif;
    font-size: 30px;
    background-color: rgb(206, 0, 0);
    padding: 0;
    width: 100%;
}

/* 헤더(상단 바) 속 메뉴들 */
.nav-link {
    margin: 0 10px;
}

/* 몬스터볼들 */
.profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

/* 몬스터볼 이미지 */
.profile>img {
    width: 200px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 50%;
}

/* 몬스터볼에 마우스를 올리면 하얗게 빛이 난다. */
.profile>img:hover{
    transform: scale(125%,125%);
    filter: brightness(300%);
}

/* 전체 레이아웃 정렬하기 <sideBar | rightSection> 구조로 */
.layout {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

/* 왼쪽의 사이드 바 */
#sideBar {
    font-family: "Do Hyeon", sans-serif;
    font-size: 30px;
    background-color: rgb(206, 0, 0);
    display: flex;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: normal;
    align-items: normal;
    justify-content: normal;
}

/* 상단바 오른쪽 구역 */
.rightSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-content: flex-start;

}

/* 홈 버튼 */
.fs-4 {
    font-family: "Black Han Sans", sans-serif;
    font-size: 40px;
    border: 6px solid goldenrod;
    background-color: gold;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

/* 오박사님과 말풍선 */
.drOh {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 0;
}

/* 오박사님 이미지 */
.drOhImage {
    width: 400px;
    height: 400px;
    margin: 40px 40px 40px 0;
    border: 3px solid black;
    border-radius: 50%;
}

/* 말풍선 */
.speech-bubble {
    font-family: "Orbit", sans-serif;
    position: relative;
    background: #ffc107;
    border-radius: .4em;
    padding: 20px;
}

/* 멤버를 소개하는 구역(몬스터볼을 클릭하면 "오박사님과 말풍선"이라는 html을 대체한다.) */
.memberIntro {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 40px;

    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* 멤버를 대표하는 포켓몬의 이미지 */
.member1Pocketmon {
    width: 300px;
    height: 300px;
    margin: 40px 60px 10px 0px;
    border: 10px solid red;
    border-radius: 50%;
}

/* 포켓몬 이미지에 마우스를 올리면 진화를 한다! */
.member1Pocketmon:hover {
    /* 이미지 크기 증가 */
    transform: scale(130%,130%);
    /* 어떤 이미지로 바꿀지 링크 알려주기 */
    content: url('images/두드리짱.png');
    background-color: gold;
}

/* 전체 구역의 너비 조절하기 */
#main {
    width: 100%;
}

/* 자기소개 카드 */
.card {
	margin: 10px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 10px;
}

/* 자기소개 카드의 헤더 */
.card-header {
	background-color: rgb(206, 0, 0);
	color: white;
}

/* 자기소개 카드의 내용부분 */
.card-body {
	background-color: white;
	color: black;
}

