@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gowun+Dodum&family=Jua&family=Orbit&family=Song+Myung&display=swap');

/* 상단 부분 */
.top {
    font-family: "Gowun Dodum", serif;
    background-color: red;
    width: 100%;
    height: 100px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.top>p {
    font-size: 45px;
    font-weight: bold;
}

/* 중단 부분 */
.main {
    font-family: "Gowun Dodum", serif;
    background-image: url(images/gridBackground.avif);
    background-position: center;

    width: 100%;
    /* height: 65vh; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pokemonImg {
    width: 500px;
    /* height: 55vh; */

    transform: rotate(0deg);
    margin-right: 80px;
}

#teammate {
    display: flex;
    flex-direction: column;
}

#mate_name {
    background-color: white;

    border: 3px solid red;
    border-radius: 10px;

    width: 40vw;
    height: 7vh;

    padding: 5px;
    margin-bottom: 5vh;
}

#mate_content {
    background-color: white;

    border: 3px solid red;
    border-radius: 10px;

    width: 40vw;
    height: 35vh;

    padding: 5px;
    align-items: center;
    justify-content: center;
}

/* 하단 부분 */
.down {
    font-family: "Gowun Dodum", serif;
    background-image: url(images/gridBackground.avif);
    background-position: center;

    /* width: 100%; */
    /* height: 100px; */

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.downBtn {
    font-family: "Gowun Dodum", serif;
    border: 3px solid black;
    border-radius: 5px;

    background-color: red;

    color: white;
    font-size: 20px;

    width: 280px;
    height: 50px;

    margin: 0 2vw 0 2vw;
}

#detail_modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

#modal_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: red;
    border-radius: 20px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}