/* 구글 폰트 import url */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Song+Myung&display=swap');

header {
    font-family: "Black Han Sans", sans-serif;
    font-size: 30px;
    background-color: rgb(206, 0, 0);
    padding: 0;
    width: 100%;
}

.nav-link {
    margin: 0 10px;
}

.profile>img {
    width: 200px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 50%;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.rightSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-content: flex-start;

}

#sideBar {
    font-family: "Black Han Sans", sans-serif;
    font-style: normal;
    font-size: 25px;
    background-color: rgb(206, 0, 0);
    display: flex;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: normal;
    align-items: normal;
    justify-content: normal;
}

.drOh {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 0;
}

.drOhImage {
    width: 400px;
    height: 400px;
    margin: 40px 40px 40px 0;
    border: 3px solid black;
    border-radius: 50%;
}

.speech-bubble {
    position: relative;
    background: #ffc107;
    border-radius: .4em;
    padding: 20px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 37px solid transparent;
    border-right-color: #ffc107;
    border-left: 0;
    border-top: 0;
    margin-top: -18.5px;
    margin-left: -37px;
}

.memberIntro {
    font-family: "Song Myung", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 40px;

    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.member1Pocketmon {
    width: 350px;
    height: 350px;
    margin: 40px 100px 10px 0px;
    border: 10px solid red;
    border-radius: 50%;
}

.member1Pocketmon:hover {
    /* transform: translate(0, -20px);
    transform: scaleX(-1);   */
    transform: scale(130%,130%);
    content: url('images/두드리짱.png');
    background-color: gold;
}

#main {
    width: 100%;
}

.card {
	margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
}

.card-header {
	background-color: rgb(206, 0, 0);
	color: white;
}

.card-body {
	background-color: white;
	color: black;
}

.profile>img:hover{
    transform: scale(125%,125%);
    filter: brightness(300%);
}
