@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gowun+Dodum&family=Jua&family=Orbit&family=Song+Myung&display=swap');

/* 멤버를 소개하는 구역(몬스터볼을 클릭하면 "오박사님과 말풍선"이라는 html을 대체한다.) */
.memberIntro {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* 카드 스타일 설정 */
.pys_pokemon-card {
    width: 320px;
    border: 4px solid #f04b48;
    border-bottom-width: 12px; 
    background-color: #000;
    color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* 카드 상단 이미지와 텍스트 컨테이너 */
.pys_pokemon-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* 이미지 스타일 */
.pys_pokemon-image {
    margin-right: 10px;
}

.pys_pokemon-image img {
    width: 140px;
    height: 150px; 
}

/* 포켓몬 정보 텍스트 스타일 */
.pys_pokemon-details {
    text-align: left;
    font-size: 16px;
    line-height: 1.4;
}

.pys_pokemon-details h1 {
    font-size: 24px; 
    margin: 0;
}

/* 구분선 스타일 */
.pys_separator {
    border-top: 2px solid #f04b48;
    width: 100%;
}

/* 설명 텍스트 스타일 */
.pys_pokemon-stats {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 80px; 
}

/* 하단 버튼 스타일 */
.pys_bottom-buttons {
    display: flex;
    justify-content: space-around;
    background-color: #f04b48;
    padding: 15px 0 4px 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 개별 버튼 스타일 */
.pys_bottom-buttons button {
    background-color: #fff;
    color: #f04b48;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}
/* 버튼 호버 색상 */
.pys_bottom-buttons button:hover {
    background-color: #ffcccc; 
}

/* 버튼 아래 설명 텍스트 스타일 */
.pys_button-text {
    color: #e4e2e2;
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}
